name: Verify
on:
  pull_request:
  workflow_call:
  workflow_dispatch:

defaults:
  run:
    shell: bash

env:
  NODE_OPTIONS: "--disable-warning=ExperimentalWarning --disable-warning=DeprecationWarning"

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v6

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Lint
        run: pnpm biome ci .

      - name: Check types
        run: pnpm gen:types && pnpm check:types

      - name: Build
        run: pnpm build
